    <!-- HEADER_FullScreen -->
    <div class="text-white p-2 text-center" style="background: #C4C4C4;">
        <h1>Bearly Edible</h1>
        <p>Bringing you treats from suspicious locations since 2022!</p>
    </div>
    <div class="text-white p-1 text-center" style="background: white;"> </div>
    <div class="text-white p-2 text-center" style="background: #C4C4C4;"> </div>
    <!-- /HEADER_FullScreen -->