<!-- Content_Box_Menu -->
                <div class="container-fluid h-100 p-0" style="border-style:solid; border-width:thin;background:#C4C4C4;">

                    <!-- Menu_Header -->
                    <div class="text-center">
                      <h2>
                        Our Sauces (etc)
                      </h2>
                    </div>
                    <!-- /Menu_Header -->

                    <!-- Card_WIP -->
                    <div class="container p-1" style="background:#E5E5E5">
                      <div class="col-md-12" style="border-style:solid; border-width:thick;border-color: #C4C4C4;background:#E5E5E5">
                        <div class="row">
                        <!-- Card_Text -->
                        <div class="col-6">
                          <h3>
                            Dish 1 Name
                          </h3>

                          <!-- Card_Text_Devider -->                  
                            <hr class="mt-0" style="border:1px solid #B4B4B4;">
                          <!-- /Card_Text_Devider -->

                          <!-- Card_Description -->
                          <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</br>
                            Ut enim ad minim veniam.
                          </div>
                          <!-- /Card_Description -->

                          <!-- Card_Allergy -->
                          <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>
                            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</br>
                            Ut enim ad minim veniam.
                          </div>
                          <!-- /Card_Allergy -->

                        </div>
                        <!-- /Card_Text -->

                        <!-- Card_Image -->
                        <div class="col-6">
                          
                          
                            <figure class="pb-3 mx-auto" style="background:#C4C4C4;width:75%">
                              <img src="not_here.jpg" class="mx-auto my-auto d-block mt-5" style="width:100%;border-style:solid; border-width:thick;border-color: #C4C4C4;">
                              <figcaption class="text-center">
                                <h2>
                                  £420.69
                                </h2>
                              </figcaption>
                            </figure>
                        </div>         
                        </div>
                      </div>
                    </div>
                    <!-- /Card_WIP -->

                    

                <!-- /Content_Box_Menu -->
                </div>