<!-- Content_Box_AboutUs -->
                <div class="container-fluid  p-0" 
                style="border-style:solid; border-width:thin;background:#C4C4C4;">

                    <!-- AboutUs_Header -->
                    <div class="text-center">
                      <h2>
                        About Us
                      </h2>
                    </div>
                    <!-- /AboutUs_Header -->

                    <div class="row m-1 " style="background:#E5E5E5">
                        <!-- AboutUs_Left_Text -->
                        <div class="col-5 ">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</br>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</br>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</br>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <!-- /AboutUs_Left_Text -->

                        <!-- AboutUs_Text_Devider -->
                        <div class="col-1 my-1">
                            <hr style="width: 1px; height: 85%; margin:15%;">
                        </div>
                        <!-- /AboutUs_Text_Devider -->

                        <!-- AboutUs_Right_Text -->
                        <div class="col-5">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</br>
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</br>
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</br>
                              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <!-- /AboutUs_Right_Text -->

                    </div>
                </div>
                <!-- /Content_Box_AboutUs -->